/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
	height: 100%;
}
body{
/*	background-image: url(p_da0632_l_da06320.png); */
	background-color: #0079bf;
	height: 100%;
	color: white;
    font-size: 14px;
    margin:0px;
    padding:0px;
}
div{
    margin:0px;
    padding:0px;
}
a{
    color: #FFFFFF;
    display:block;
    background-color: #4d95be;
    border-radius: 6px;
    padding:6px;
    text-decoration: none;
}
a:link {
}
a:visited {
}
a:hover {
    background-color: #66a4c7;
}
a:active {
}

div {
	word-break: break-all;
}

.contents{
    width:1000px;
    margin: 0 auto;
}

.header{
    position: sticky;
    top:0;
    height: 40px;
    width:1000px;
    background-color: #0067a3;
    padding:10px 20px;
}
.app_logo{
    width: 400px;
    height: 60px;
    display:inline-block;
}
.login_area{
    float: right;
    width: 600px;
    height: 60px;
    text-align: right;
}
.login_button{
    position: absolute;
    right: 20px;
    width:140px;
    text-align: center;
}
.icon_img{
    height: 40px;
    border-radius: 10px;
}
.user_name{
    display: inline-block;
    max-width:400px;
    text-align: left;
    margin-left: 10px;
}
.footer{
    height: 14px;
    width: 100%;
    background-color: #0067a3;
    padding:10px 20px;
    text-align: center;
    font-size: 12px;
}
.footer a{
    display: inline;
    background-color: rgba(0,0,0,0);
}
.select_area{
    padding:10px 20px;
    position: fixed;
    height: 30px;
    width: 1000px;
    background-color:#0067a3;
}
.select_list{
	margin-right:10px;
	padding:4px 4px 6px 4px;
	background-color:#FFFFFF;
	color:#000000;
	border:none;
	border-radius: 6px;
	width:80px;
}
.view_area{
    margin-top:50px;
    width:1040px;
    padding-top:1px;
    background-color: #66a4c7;
}
.view_list{
    width: 1020px;
    padding: 10px;
    color: #000000;
}
.days{
    background-color: #0067a3;
    text-align: center;
    font-weight: 800;
    color: #FFFFFF;
}
.book{
    display: inline-block;
    width: 800px;
}
.book1{
    background-color: #FFFFFF;
}
.book2{
    background-color: #CCCCCC;
}
.book_button{
    width:100px;
    float: right;
    text-align: center;
    margin-top: 10px;
}